div.advertising-type-one
    div
        ul
            li text
            li text
            li text
            li text
            li text
    div.advertising
        ul
            li
                div top
                div image
                    img
                div bottom
            li
                div top
                div image
                    img
                div bottom
            li
                div top
                div image
                    img
                div bottom