div.leftSide
    a(href="#")
        img(src="../src/images/logo.svg" alt="logo1"  width="119" height="37")
div.rightSide
    input(type="serch")
    a(href="#")
        include componentsOfIncludes/profile.pug
    a(href="#")
        include componentsOfIncludes/like.pug
    a(href="#")
        include componentsOfIncludes/cart.pug