ul 
    li 
        a(href="#") NEW ARRIVALS
    li 
        a(href="#") BRANDS
    li 
        a(href="#") MEN'S
    li 
        a(href="#") WOMEN'S
    li 
        a(href="#") ACCESSORIES
    li 
        a(href="#") BASEWORLD