ul 
    li 
        a(href="#") NEW ARRIVALS
        div.advertising-type-one
            div
                ul
                    li text
                    li text
                    li text
                    li text
                    li text
            div.advertising
                ul
                    li
                        div top
                        div image
                            img
                        div bottom
                    li
                        div top
                        div image
                            img
                        div bottom
                    li
                        div top
                        div image
                            img
                        div bottom




    li 
        a(href="#") BRANDS
    li 
        a(href="#") MEN'S
    li 
        a(href="#") WOMEN'S
    li 
        a(href="#") ACCESSORIES
    li 
        a(href="#") BASEWORLD