@import 'variables.scss';

.flexBox-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    min-height: $header_height;
    width: 100%;
}
.icon{
    width: $header_icon_size;
    height: $header_icon_size;
}
.icon img{
    width: 100%;
    height: 100%;
}
.rightSide{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;    
    align-items: center; 
}
.rightSide a{
    margin-left: 10px;
}
.leftSide{
    display: flex;
    flex-direction: row;
    width: 100%;
}