@import 'navigation.scss', 'header.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.flexContainer{
    min-width: 960px;
}
body{
    display: flex;
    justify-content: center;    
}
.flexBox-body{
    min-height: 20px;
    width: 100%;
}
.flexBox-footer{
    min-height: 20px;
    width: 100%;
}