@import 'variables.scss';

.flexBox-navigation{
    min-height: $navigation_height;
    background-color: $navigation_background_color;
    width: 100%;
}
.flexBox-navigation ul{
    width: 100%;    
    height: $navigation_height;
    display: flex;
    flex-direction: row;
    
}
.flexBox-navigation ul > {
    li{
        width: 100%;
        height: 100%;
    }
}

.flexBox-navigation ul > {
    li > {
        a{          
            text-decoration: none;
            font-size: 13px;
            color: $navigation_text_color;
            font-family: $font;

            justify-content: space-around;
            align-items: center;
            display: flex;
            width: 100%;
            height: 100%;
        }
        a:hover{
            background-color: $navigation_text_color;
            color: $navigation_background_color;
        }      
    }
}
