@import 'variables.scss';

.flexBox-navigation{
    min-height: $navigation_height;
    background-color: $navigation_background_color;
    width: 100%;
}
.flexBox-navigation ul{
    width: 100%;    
    height: $navigationHeight;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.flexBox-navigation ul > {
    li > {
        a{
            text-decoration: none;            
            font-size: 13px;
            color: $navigation_text_color;
            font-family: $font;
        }       
    }
}