.flexContainer{
    min-width: 959px;
}
.flexBox-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    min-height: 20px;
    width: 100%;    
}
.icon{
    width: 20px;
    height: 20px;
}
.icon img{
    width: 100%;
    height: 100%;
}
.rightSide{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;    
    align-items: center; 
}
.rightSide a{
    margin-left: 10px;
}
.leftSide{
    display: flex;
    flex-direction: row;

    width: 100%;
}





body{
    display: flex;
    justify-content: center;    
}
.flexBox-navigation{

    min-height: 20px;
    width: 100%;
}
.flexBox-body{

    min-height: 20px;
    width: 100%;
}
.flexBox-footer{

    min-height: 20px;
    width: 100%;
}
