doctype html
html
    head
        style
            include wishList.css            
    body
        div.flexContainer
            div.flexBox-header 
                include includes/header.pug
            div.flexBox-navigation nav
            block content
            div.flexBox-footer footer