doctype html
html
    head
        style
            include output.css
            include style/reset.css
    body
        div.flexContainer
            header.flexBox-header 
                include includes/header.pug
            div.flexBox-navigation 
                include includes/navigation.pug
            block content
            div.flexBox-footer footer